<div class="jumbotron">
  <h1>Check out your favorite Steam Game!</h1>
</div>
<h1>Search for yourself</h1>
<form action="">
  <input type="text" ng-model="user">
  <input type="submit">
</form>
<div ng-if="home.currentUser">
  <img ng-src="{{home.steamUser.data.response.players[0].avatarfull}}" alt="">
  <p>Steam Name: {{home.steamUser.data.response.players[0].personaname}}</p>
  <p>Total Games: {{home.allGames}}</p>
  <p>Total Played Games: {{home.playedGames.length}}</p>
</div>
<!-- <home-search></home-search> -->
