<!-- <div class="row">
  <div class="col-md-6">
    <div ng-if="home.currentUser">
      <img ng-src="{{home.steamUser.data.response.players[0].avatarfull}}" alt="" class="steam-avatar">
      <p>Steam Name: {{home.steamUser.data.response.players[0].personaname}}</p>
      <p>Total Games: {{home.allGames}}</p>
      <p>Total Played Games: {{home.playedGames.length}}</p>
      <button type="button" class="btn btn-primary" ng-click="home.storeGameInfo()">Go Checkout Your Played Games</button>
    </div>
  </div>
  <div class="col-md-6"></div>
</div> -->
<div class="home-container">
  <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/05/05811ae8448c69e6d8a1094bdc274d2d7bc1200a_medium.jpg" alt="" class="steam-avatar steam-items">
  <p class="steam-items">Steam Name: Fruit</p>
  <p class="steam-items">Total Games: 123</p>
  <p class="steam-items">Total Played Games: 7</p>
  <button type="button" class="steam-items" ng-click="home.storeGameInfo()">Go Checkout Your Played Games</button>
</div>
