.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    flex-grow: 0;
  }

}
.achievements-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.achievements {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
}

.achievement-image {
  margin: 0 auto;
}

.achievement-name {
  text-decoration: underline;
}
