<h1>{{gameInfo.game.name}}</h1>
<div class="row">
  <div class="col-md-6">
    <img ng-src="{{gameInfo.game.header_image}}" alt="">
  </div>
</div>

<div class="achievements-container" ng-repeat="achievement in gameInfo.gameSchema" ng-repeat="player in gameInfo.playerAchievement">
  <span ng-if="!player.achieved">{{player.achieved}}</span>
  <span ng-if="player.achieved">{{player.achieved}}</span>
  <img ng-if="!player.achieved" ng-src="{{achievement.icongray}}" alt="">
  <img ng-if="player.achieved" ng-src="{{achievement.icon}}" alt="">
  <h4>{{achievement.displayName}}</h4>
  <span ng-if="achievement.hidden">hidden achievement</span>
  <span ng-if="!achievement.hidden">{{achievement.description}}</span>
</div>
